p {
	font-family: 'Parisienne', cursive;
	font-size: 30px;
}

h1 {
	font-family: 'Kaushan Script', cursive;
	font-size: 8.0em;
}

span {
	font-size: 2.0em;
	/* 사이즈 변경 em은 상대적으로 변한다*/
}



/*font-weight*/
p {
	font-weight: normal;
}

/*line-height*/
p {
	line-height: 1.5;
}

/*text-align*/

h1 {
	text-align: center;
}

/*text-decoration*/
p {
	text-decoration: underline;
}